* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
}

.navbar {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.logo img {
    margin-left: 15px;
}

.navbar button {
    margin: 10px;
    display: inline;
    position: relative;
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.navbar button:hover {
    background-color: tomato;
}

.navbar button a {
    text-decoration: none;
    margin: 15px; /*It did not accept the top and bototom */ 
    color: white;
    font-weight: bold;
    font-size: 110%;
}

.dropdowncontent {
    display: none;
    position: absolute;
}

.mainimage img {
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Red Rose', cursive;
    font-size: 35px;
    margin: 40px 0;
}

.Discriptioncontainer {
    margin-top: 40px ;
    
}

.Discription {
    margin: 30px 20px;
    display: flex;
    justify-content: space-around;
}

.Discription img {
    border-radius: 20px;
    width: 45%;
}

.Distextarea {
    margin: 15px;
    width: 45%;    
}

.Distextarea h2 {
    font-size: 175%;
    font-family: 'Libre Franklin', sans-serif;
}

.Discription p {
    margin-top: 15px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.Discription button {
    margin-top: 25px;
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.Discription button:hover {
    background-color: tomato;
}

.Discription button a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
}

/* .fab fa-facebook {
    font-size: 24px;
} */

/* ************************************************************************************************************************************* */

/* Responsive Design */

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 30px;
        margin: 30px 0;
    }

    .navbar button a {
        margin: 8px;
    }

    .Discription {
        margin: 20px 20px;
        flex-wrap: wrap;
    }

    .Discription img {
        border-radius: 15px;
        width: 95%; 
    }

    .Distextarea {
        width: 95%;    
    }

    .Distextarea h2 {
        font-size: 150%;
    }

    .Discription p {
        font-size: 17px;
    }

    .Discription button {
        margin-top: 20px;
        padding: 8px;
    }
}
/* *************************************************************************************************************************************** */

/* Responsive for Mobile 500px */
@media only screen and (max-width: 500px) {
    header {
        flex-wrap: wrap;
    }

    .logo img {
        width: 70px;
    }

    .navbar div {
        display: flex;
        justify-content: center;
    }

    .mainimage img {
        width: 490px;
        margin: 0 5px;
    }

    h1 {
        font-size: 22px;
        margin: 15px 0;
    }

    .Discriptioncontainer {
        margin-top: 20px ;
        
    }

    .Distextarea h2 {
        font-size: 120%;
    }

    .Discription p {
        font-size: 15px;

    }

    .navbar button {
        margin: 5px;
        border-radius: 3px;
        padding: 3px;
    }

    .navbar button a {
        margin: 5px;
        font-weight: lighter;
        font-size: 85%;
    }

    .Discription button a {
        font-weight: lighter;
        font-size: small;
        color: white;
    }
}
/* *************************************************************************************************************************************** */
/* About Us page CSS */

.teamcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teammembers {
    border: rgb(255, 162, 146) 1px solid;
    border-radius: 20px;
    background-color: rgb(255, 252, 227);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 45%;
    margin: 20px;
    padding: 10px;
}

.teammembers img {
    border-radius: 50%;
    width: 40%;
    margin: 10px;
}

.teammembers h2 {
    font-family: 'Federant', cursive;
    text-align: center;
    margin-bottom: 10px;
}

.teammembers div p {
    display: inline;
    text-align: justify;
}

/* *************************************************************************************************************************************** */

/* Responsive page for About Us */

@media only screen and (max-width: 800px) {
    .teammembers {
        border-radius: 15px;
        width:90%;
    }
}

@media only screen and (max-width: 500px) {
    .teammembers {
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: 15px;
        padding: 8px;
    }   
}