* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-between;
}

.navbar {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.logo img {
    margin-left: 15px;
}

.navbar button {
    margin: 10px;
    display: inline;
    position: relative;
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.navbar button:hover {
    background-color: tomato;
}

.navbar button a {
    text-decoration: none;
    margin: 15px; /*It did not accept the top and bototom */ 
    color: white;
    font-weight: bold;
    font-size: 110%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* .dropdownbtn {
    position: relative;
    display: inline-block;   
} */

.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    border-radius: 7px;
    z-index: 1.5;
}

.dropdowncontent a {
    color: green;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dropdown:hover .dropdowncontent {
    display: block;
    background-color: rgb(200, 253, 222);
   
}

.dropdowncontent a:hover {
    background-color: rgb(127, 202, 177);
    border-radius: 7px;
}

.mainimage img {
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Red Rose', cursive;
    font-size: 35px;
    margin: 40px 0;
}

.Discriptioncontainer {
    margin-top: 40px ;
    
}

.Discription {
    margin: 30px 20px;
    display: flex;
    justify-content: space-around;
}

.Discription img {
    border-radius: 20px;
    width: 45%;
}

.Distextarea {
    margin: 15px;
    width: 45%;    
}

.Distextarea h2 {
    font-size: 175%;
    font-family: 'Libre Franklin', sans-serif;
}

.Distextarea p {
    margin-top: 15px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.Distextarea button {
    margin-top: 25px;
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.Distextarea button:hover {
    background-color: tomato;
}

.Distextarea button a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
}

/* .fab fa-facebook {
    font-size: 24px;
} */

/* ************************************************************************************************************************************* */

/* Responsive Design */

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 30px;
        margin: 30px 0;
    }

    .navbar button a {
        margin: 8px;
    }

    .Discription {
        margin: 20px 20px;
        flex-wrap: wrap;
    }

    .Discription img {
        border-radius: 15px;
        width: 95%; 
    }

    .Distextarea {
        width: 95%;    
    }

    .Distextarea h2 {
        font-size: 150%;
    }

    .Distextarea p {
        font-size: 17px;
    }

    .Distextarea button {
        margin-top: 20px;
        padding: 8px;
    }
}
/* *************************************************************************************************************************************** */
/* Responsive for Mobile 710px */
@media only screen and (max-width: 710px) {

    .navbar div {
        flex-wrap: nowrap;
    }

    .navbar button {
        margin: 7px;
    }

    .navbar button a {
        font-size: 90%;
    }
}

/* *************************************************************************************************************************************** */
/* Responsive for Mobile 630px */
@media only screen and (max-width: 630px) {
    .navbar div {
        flex-wrap: nowrap;
    }

    .logo img {
        width: 80px;
    }
}

/* *************************************************************************************************************************************** */
/* Responsive for Mobile 580px */
@media only screen and (max-width: 580px) {
    .navbar div {
        flex-wrap: nowrap;
    }

    .navbar button {
        margin: 4px;
        padding: 3px;
    }

    .navbar button a {
        margin: 5px;
    }

    .Distextarea button {
        margin-top: 20px;
        padding: 8px;
    }

    .Distextarea button a {
        font-size: 17px;
    }
}

/* *************************************************************************************************************************************** */
/* Responsive for Mobile 500px */
@media only screen and (max-width: 500px) {
    header {
        flex-wrap: nowrap;
    }

    .logo img {
        width: 70px;
    }

    .navbar div {
        display: flex;
        justify-content: center;
    }
/* Still it's not responsive for 500px */
    .dropdowncontent {
        display: none;
    }

    .mainimage img {
        width: 490px;
        margin: 0 5px;
    }

    h1 {
        font-size: 22px;
        margin: 15px 0;
    }

    .Discriptioncontainer {
        margin-top: 20px ;
        
    }

    .Distextarea h2 {
        font-size: 120%;
    }

    .Discription p {
        font-size: 15px;

    }

    .navbar button {
        margin: 5px;
        border-radius: 3px;
        padding: 3px;
    }

    .navbar button a {
        margin: 5px;
        font-weight: lighter;
        font-size: 85%;
    }

    .Distextarea button {
        padding: 6px;
    }

    .Distextarea button a {
        font-weight: lighter;
        font-size: 15px;
        color: white;
        
    }
}
/* *************************************************************************************************************************************** */
/* About Us page CSS */

.teamcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teammembers {
    border: rgb(255, 162, 146) 1px solid;
    border-radius: 20px;
    background-color: rgb(255, 252, 227);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 45%;
    margin: 20px;
    padding: 10px;
}

.teammembers img {
    border-radius: 50%;
    width: 40%;
    margin: 10px;
}

.teammembers h2 {
    font-family: 'Federant', cursive;
    text-align: center;
    margin-bottom: 10px;
}

.teammembers div p {
    display: inline;
    text-align: justify;
}

/* *************************************************************************************************************************************** */

/* Responsive page for About Us */

@media only screen and (max-width: 800px) {
    .teammembers {
        border-radius: 15px;
        width:90%;
    }
}

@media only screen and (max-width: 500px) {
    .teammembers {
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: 15px;
        padding: 8px;
    }   
}

/* **************************************************************************************************************************************** */

/* Contact Us CSS part */

.contacttext {
    margin-bottom: 20px;
}

.contacttext p {
    font-family: 'Red Rose', cursive;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    /*background-color: rgb(250, 219, 211);
    */ 
}

.container::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url("MainImage.jpg");
    background-size: cover;
    opacity: 0.7;
}

input {
    height: 50px;
    width: 350px;
    box-sizing: border-box;
    /* align-content: center; */
    display: block;
    /*align-items: center;*/
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    position: relative;
}

.submit {
    width: 300px;
    height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: honeydew;
    background-color: green;
    border-radius: 10px;
    margin: 20px 40px;
    font-size: 20px;
    border: none;
    position: relative;
}

footer {
    display: flex;
    justify-content: flex-end;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

.socialmedia p {
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}